<div class="container">
    <div class="jumbotron">
        <div class= "jubotron-container">
            <h1>演奏会まであと<span>35</span>日</h1>
            <p><i class="fas fa-music"></i> スケジュール <i class="fas fa-music"></i></p>
            <ul>
                <li>9/13(木) チケット請求開始</li>
                <li>9/20(木) 配布開始</li>
                <li>9/30(月) チケット配布終了</li>
                <li>10/6(金) リハーサル</li>
                <li>10/7(土) 本番</li>
            </ul>
        </div>
    </div>

    <div class="page-header">
        <h3><i class="fas fa-users"></i> 現在の予想充席率 / 予想来場者数</h3>
    </div>

    <div class="zaseki-container">
        <div>
        <% (1..100).step(2).each do |i| %>
            <% if i < 100 - (Integer(Float(@sold_tickets) / @all_tickets * 100)) then %>
                <img class="empty-chair" src="/sitdown.png">
            <% else %>
                <img class="full-chair" src="/sitdown.png">
            <% end %>
            
            <% if i%20 == 19 then %>
                </div>
                <div>
            <% end %>
        <% end %>
        </div>
        <div class="zaseki-percent">
            <h1><%= "#{(Float(@sold_tickets) / @all_tickets * 100).round(1)}" %><span> %</span></h1>
        </div>
        <div class="zaseki-population">
            <h1><%= "#{(Float(@sold_tickets) * 0.7).round(1)}" %><span> 人</span></h1>    <!-- 予想入場者数(チケット販売数*0.7(人))-->
        </div>
    </div>
   
    <div class="page-header">
        <h3><i class="fas fa-check"></i> 請求済チケット</h3>
    </div>
    <h4>　請求済み <%= "#{(Float(@request_tickets + @get_tickets + @sold_tickets) / 100.0 * 100).round(1)} %" %></h4>
    <h4>　未請求　 <%= "#{100 - ((Float(@request_tickets + @get_tickets + @sold_tickets) / 100.0 * 100).round(1))} %" %></h4>
    <%= pie_chart @data_request, donut: true, colors: ["#E694A2", " #e2d1ca"], suffix: "%", library: {animation: {easing: 'easeOutQuad'}} %>

    <div class="page-header">
        <h3><i class="fas fa-money-bill-wave"></i> 販売完了済チケット</h3>
    </div>
    <h4>販売完了済み <%= "#{(Float(@sold_tickets) / 100.0 * 100).round(1)} %" %></h4>
    <h4>未販売　　　 <%= "#{100 - ((Float(@sold_tickets) / 100.0 * 100).round(1))} %" %></h4>
    <%= pie_chart @data_sold, donut: true, colors: ["#E694A2", " #e2d1ca"], suffix: "%", library: {animation: {easing: 'easeOutQuad'}} %>

    <div class="page-header">
        <h3><i class="fas fa-chart-line"></i> 日別推移</h3>
    </div>
    <%= line_chart @term_tickets.map { |kind|
        {name: kind["name"], data: kind["tickets"].group("#{kind["dates"]}_dates").order("#{kind["dates"]}_dates").count}
    },
    colors: ["#E694A2", "#FDF3DA", "#e2d1ca"],
    library: {animation: {easing: 'easeOutQuad'}},
    discrete: true,
    xtitle: "Dates", 
    ytitle: "枚数"
    %>

    <div class="page-header">
        <h3><i class="fas fa-award"></i> MVP</h3>
    </div>
    
    <h3>・請求数ランキング</h3>
    <div>
        <table class="table top-table">
            <thead>
              <tr>
                <th>順位</th>
                <th>名前</th>
                <th>期</th>
                <th>パート</th>
                <th>請求枚数</th>
              </tr>
            </thead>
            <tbody>
                <% (0..2).each do |i| %>
                    <tr>
                        <td><%= i+1 %>位 <i class="fas fa-medal"></i></td>
                        <td><%= @request_ranking[i]["user"]["name"] %> さん</td>
                        <td><%= @request_ranking[i]["user"]["generation"] %>期</td>
                        <td><%= @request_ranking[i]["user"]["part"] %></td>
                        <td><%= @request_ranking[i]["count"] %>枚</td>
                    </tr>
                <% end %>
            </tbody>
          </table>
      </div>


    <h3>・販売数ランキング</h3>
    <div>
        <table class="table top-table">
            <thead>
              <tr>
                <th>順位</th>
                <th>名前</th>
                <th>期</th>
                <th>パート</th>
                <th>販売枚数</th>
              </tr>
            </thead>
            <tbody>
                <% (0..2).each do |i| %>
                    <tr>
                        <td><%= i+1 %>位 <i class="fas fa-medal"></i></td>
                        <td><%= @sold_ranking[i]["user"]["name"] %> さん</td>
                        <td><%= @sold_ranking[i]["user"]["generation"] %>期</td>
                        <td><%= @sold_ranking[i]["user"]["part"] %></td>
                        <td><%= @sold_ranking[i]["count"] %>枚</td>
                    </tr>
                <% end %>
            </tbody>
          </table>
      </div>

</div>

