<div class="container">
    <div class="jumbotron">
        <div class= "jubotron-container">
            <h1>演奏会まであと<span>35</span>日</h1>
            <p><i class="fas fa-music"></i> スケジュール <i class="fas fa-music"></i></p>
            <ul>
                <li>9/13(金) チケット請求開始</li>
                <li>9/20(金) 配布開始</li>
                <li>9/30(金) チケット配布終了</li>
                <li>10/6(金) リハーサル</li>
                <li>10/7(金) 本番</li>
            </ul>
        </div>
    </div>

    <div class="page-header">
        <h3>現在の予想入場者数</h3>
    </div>

    <div class="zaseki-container">
        <div>
        <% (1..100).step(2).each do |i| %>
            <% if i < 100 - (Integer(Float(@sold_tickets) / @all_tickets * 100)) then %>
                <img class="empty-chair" src="/sitdown.png">
            <% else %>
                <img class="full-chair" src="/sitdown.png">
            <% end %>
            
            <% if i%20 == 19 then %>
                </div>
                <div>
            <% end %>
        <% end %>
        </div>
        <div class="zaseki-percent">
            <h1><%= "#{Float(@sold_tickets) / @all_tickets * 100}" %><span> %</span></h1>
        </div>
        <div class="zaseki-population">
            <h1><%= "#{Float(@sold_tickets) * 0.7}" %><span> 人</span></h1>    <!-- 予想入場者数(チケット販売数*0.7(人))-->
        </div>
    </div>
   
    <div class="page-header">
        <h3>現在の請求・配布状況</h3>
    </div>

    <div>
        <h4>請求済み <%= "#{Float(@request_tickets + @get_tickets + @sold_tickets) / 100.0 * 100} %" %></h4>
        <h4>未請求　 <%= "#{100 - (Float(@request_tickets + @get_tickets + @sold_tickets) / 100.0 * 100)} %" %></h4>
        <%= pie_chart @data_request %>
    </div>

    <div>
        <h4>販売完了済み <%= "#{Float(@sold_tickets) / 100.0 * 100} %" %></h4>
        <h4>未販売　　　 <%= "#{100 - (Float(@sold_tickets) / 100.0 * 100)} %" %></h4>
        <%= pie_chart @data_sold %>
    </div>


</div>

