<div class="container">
    <div class="page-header">
        <h3>MyPage</h3>
    </div>

    <h4>ノルマチケット：10枚</h4>
    <h4>請求したチケット：5枚</h4>
    <h4>販売完了したチケット：3枚</h4>

    <div class="page-header">
        <h3>チケット詳細情報</h3>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                <th>チケットID</th>
                <th>請求日</th>
                <th>状態</th>
                <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>1</td>
                <td>2020/09/01</td>
                <td>配布済</td>
                <td><button type="submit" class="btn btn-danger">取消</button></td>
                </tr>
                <tr>
                <td>2</td>
                <td>2020/09/01</td>
                <td>承認済</td>
                <td></td>
                </tr>
                <tr>
                <td>3</td>
                <td>2020/09/03</td>
                <td>請求済?承認待ち?</td>
                <td><button type="submit" class="btn btn-primary">配布済</button></td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
              <tr>
                <th>チケットID</th>
                <th>状態</th>
                <th>請求日</th>
                <th>配布日</th>
                <th>販売完了日</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
                <% @tickets.each do |ticket| %>
                    <tr>
                        <td><%= ticket.id %></td>
                        <td><%= ticket.status %></td>
                        <td><%= ticket.request_dates %></td>
                        <td><%= ticket.get_dates %></td>
                        <td><%= ticket.sold_dates %></td>
                        <td><button type="submit" class="btn btn-danger">取消</button></td>
                    </tr>
                <% end %>
            </tbody>
          </table>
      </div>

      <button type="submit" class="btn btn-primary">配布済</button>

</div>

