<div class="container">
    <div class="page-header">
        <h3>MyPage</h3>
    </div>

    <h4>ノルマチケット：10枚</h4>
    <h4>請求したチケット：5枚</h4>
    <h4>販売完了したチケット：3枚</h4>

    <div class="page-header">
        <h3>チケット詳細情報</h3>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>チケットID</th>
                <th>状態</th>
                <th>請求日</th>
                <th>配布日</th>
                <th>販売完了日</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
                <% @tickets.each do |ticket| %>
                    <tr>
                        <td><%= ticket.id %></td>
                        <td><%= ticket.status %></td>
                        <td><%= ticket.request_dates %></td>
                        <td><%= ticket.get_dates %></td>
                        <td><%= ticket.sold_dates %></td>
                        <td><button type="submit" class="btn btn-danger">請求取消</button></td>
                    </tr>
                <% end %>
            </tbody>
          </table>
      </div>

      <button type="submit" class="btn btn-primary">販売完了</button>

</div>

