<!DOCTYPE html>
<html>
  <head>
    <title>TicketSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>

  <body>
    <nav class="navbar navbar-fixed-top header">
        <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <% if @current_user %>
                <a class="navbar-brand" href="/top">TICKET SYSTEM</a>
              <% else %>
                <a class="navbar-brand" href="/">TICKET SYSTEM</a>
              <% end%>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <% if @current_user %>
                  <% if @current_user.admin %>
                    <li><%= link_to("配布済を確認する", "/admin/distribute") %></li>
                    <li><%= link_to("ログアウト", "/logout", {method: :post}) %></li>
                    <li>
                      <%= link_to("/admin/users") do %>
                        <p>
                          <i class="fas fa-user-circle fa-lg"></i>
                          <%= @current_user.name %> さん
                        </p>
                      <% end %>
                    </li>
                  <% else %>
                    <li><%= link_to("請求する", "/tickets/request") %></li>
                    <li><%= link_to("ログアウト", "/logout", {method: :post}) %></li>
                    <li>
                      <%= link_to("/mypage") do %>
                        <p>
                          <i class="fas fa-user-circle fa-lg"></i>
                          <%= @current_user.name %> さん
                        </p>
                      <% end %>
                    </li>
                  <% end %>
                <% else %>
                  <li><%= link_to("新規登録", "/signup") %></li>
                  <li><%= link_to("ログイン", "/login") %></li>
                <% end%>
              </ul>
          </div>
        </div>
    </nav>
    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Copyright © 2020 Nakano Marika. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
